.get-started {
    display: block;
    position:center;
    width: 25%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.background {
    width:100%;
    display: block;
    left:0px;
    top:0px;
    z-index: -1;
    position: absolute;
}

.button-container {
    padding-top: 60%;
    margin: auto;
    text-align: center;
    display: block;
    width: 100%;
}