<!DOCTYPE html>
<html>
    <head>
        <title>Main Menu</title>
        <link rel="icon" type="image/png" sizes="16x16" href="static/images/icon.ico">
        <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    </head>

    <body>
        <img class='background' src='static/images/welcome.png'>
        <div class='button-container'>
            <a href={{ url_for('weather') }}>
                <img class="get-started" src="static/images/get_started_btn.png">
            </a>
            <br>
            <br>
        </div>
    </body>
</html>