<!DOCTYPE html>
<head>
    <title>Outfits</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/icon.ico">

    <style>
    .background{
        width:100%;
        height:auto;
        min-height: 100px;
        background-color: #5581F3;
        box-shadow:0 5px 15px 0 rgba(0,0,0,.18),
                0 5px 12px 0 rgba(218, 199, 199, 0.12);
        display:block;
        z-index:-1;
        right:0px;
        left:0px;
    }
    .white-text {
        color:white;
    }
    .background-color {
        background-color:#5581F3;
        display:block;
        width:100%;
    }

    green{
        color:#2FB494;
    }

    .title{
        float:left;
        font-family: 'Futura';
        font-weight: 300;
        font-size: 70px;
        color:white;
    }
    .date{
        float:right;
        font-family: 'Futura';
        font-weight: 300;
        font-size:70px;
        color:white;
    }
    .column {
        float:left;
        padding:20px;
    }
    .left {
        max-width: 40%;
        margin-left: 100px;
    }
    .right {
        max-width: 60%;
        margin-top: 30px;
        margin-left: 50px;
    }
    .row:after {
        content:"";
        display: table;
        clear:both;
    }
    .font-60 {
        font-size: 60px;
    }
    .weather_icon{
        fill:white;
    }
    </style>
</head>

<body>
    <div class="background white-text">
        <div class="row">
            <div class="column left">
                <bold><h3 style="font-size:90px;">{{city| title}}</h3></bold>
                {% for state in weather %}
                    {% if result["Weather"] == state %}
                        <img class = "weather_icon" src = "{{ "static/images/" ~ state ~ ".svg" }}" height="180px" width="180px">
                    {% endif %}
                {% endfor %}

                <h2 style="font-size:80px;">{{result["Temperature"]}}˚C</h2>
            </div>
            <div class="column right">
                <h3 style="font-size:50px;top:20px;">{{result["Date"]}} 12:00 PM</h3>
                </br>
                <h3 class='font-60'>{{result["Weather Details"]|upper}}</h3>
                </br>
                <h3 class='font-60'>WINDSPEED: {{ result["Wind Speed"]}} km/h</h3>
            </div>

        <br>
    </div>
    </div>

    <div class = "row">
        <h3 class = "col-md-6 text-center">{{result["Weather"]}}</h3>
        <h3 class = "col-md-6 text-center">{{result["Weather Details"]}}</h3>
    </div>
    <div class = "row">
        <h1 class = "col-md-12 text-center">Your Outfit</h1>
    </div>
    </br>
    </br>

    <div class = "outfit">
                <div class = "container top">
            {% if result["Temperature"]>25 %}
                    <h1>Top</h1>
                    <h4>{{hotTop[randomInt]}}</h4>
                    {% for style in jacketsIcon %}
                        {% if hotTop[randomInt] == style %}
                            <img class = "top" src = "static/images/jacket.svg">
                        {% endif %}
                    {% endfor %}
                    {% for style in tShirtIcon %}
                        {% if hotTop[randomInt] == style %}
                            <img class = "top" src = "static/images/t-shirt.svg">
                        {% endif %}
                    {% endfor %}
                    {% for style in longSleeveIcon %}
                        {% if hotTop[randomInt] == style %}
                            <img class = "top" src = "static/images/long-sleeve.svg">
                        {% endif %}
                    {% endfor %}
                </div>
            {% elif result["Temperature"] > 10 and result["Temperature"] < 25 %}
                <div class = "container top">
                    <h1>Top</h1>
                    <h4>{{mildTop[randomInt]}}</h4>
                    {% for style in jacketsIcon %}
                        {% if mildTop[randomInt] == style %}
                            <img class = "top" src = "static/images/jacket.svg">
                        {% endif %}
                    {% endfor %}
                    {% for style in tShirtIcon %}
                        {% if mildTop[randomInt] == style %}
                            <img class = "top" src = "static/images/t-shirt.svg">
                        {% endif %}
                    {% endfor %}
                    {% for style in longSleeveIcon %}
                        {% if mildTop[randomInt] == style %}
                            <img class = "top" src = "static/images/long-sleeve.svg">
                        {% endif %}
                    {% endfor %}
                </div>
            {% elif result["Temperature"] < 10 %}
                <div class = "container top">
                    <h1>Top</h1>
                    <h4>{{coldTop[randomInt]}}</h4>
                    {% for style in jacketsIcon %}
                        {% if coldTop[randomInt] == style %}
                            <img class = "top" src = "static/images/jacket.svg">
                        {% endif %}
                    {% endfor %}
                    {% for style in tShirtIcon %}
                        {% if coldTop[randomInt] == style %}
                            <img class = "top" src = "static/images/t-shirt.svg">
                        {% endif %}
                    {% endfor %}
                    {% for style in longSleeveIcon %}
                        {% if coldTop[randomInt] == style %}
                            <img class = "top" src = "static/images/long-sleeve.svg">
                        {% endif %}
                    {% endfor %}
            {% endif %}
                </div>

            <!--- SEPERATING SECTIONS  -->

                <div class = "container bottoms">
            {% if result["Temperature"]>25 %}
                    <h1>Bottoms</h1>
                    <h4>{{hotBottoms[randomInt]}}</h4>
                    {% for style in longPants %}
                        {% if hotBottoms[randomInt] == style %}
                            <img class = "bottom" src = "static/images/long-pants.svg">
                        {% endif %}
                    {% endfor %}
                    {% for style in shortPants %}
                        {% if hotBottoms[randomInt] == style %}
                            <img class = "bottom" src = "static/images/short-pants.svg">
                        {% endif %}
                    {% endfor %}
                </div>
            {% elif result["Temperature"] > 10 and result["Temperature"] < 25 %}
                <div class = "container bottoms">
                    <h1>Bottoms</h1>
                    <h4>{{mildBottoms[randomInt]}}</h4>
                    {% for style in longPants %}
                        {% if mildBottoms[randomInt] == style %}
                            <img class = "bottom" src = "static/images/long-pants.svg">
                        {% endif %}
                    {% endfor %}
                    {% for style in shortPants %}
                        {% if mildBottoms[randomInt] == style %}
                            <img class = "bottom" src = "static/images/short-pants.svg">
                        {% endif %}
                    {% endfor %}
                </div>
            {% elif result["Temperature"] < 10 %}
                <div class = "container bottoms">
                    <h1>Bottoms</h1>
                    <h4>{{coldBottoms[randomInt]}}</h4>
                    {% for style in longPants %}
                        {% if coldBottoms[randomInt] == style %}
                            <img class = "bottom" src = "static/images/long-pants.svg">
                        {% endif %}
                    {% endfor %}
                    {% for style in shortPants %}
                        {% if coldBottoms[randomInt] == style %}
                            <img class = "bottom" src = "static/images/short-pants.svg">
                        {% endif %}
                    {% endfor %}
            {% endif %}

            </div>

            
            <!--- SEPERATING SECTIONS  -->

                <div class = "container accessories">
            {% if result["Temperature"]>25 %}
                    <h1>Accessories</h1>
                    <h4>{{hotAccessories[randomInt]}}</h4>
                </div>
            {% elif result["Temperature"] > 10 and result["Temperature"] < 25 %}
                <div class = "container accessories">
                    <h1>Accessories</h1>
                    <h4>{{mildAccessories[randomInt]}}</h4>
                </div>
            {% elif result["Temperature"] < 10 %}
                <div class = "container accessories">
                    <h1>Accessories</h1>
                    <h4>{{coldAccessories[randomInt]}}</h4>
            {% endif %}
            <img class = "accessories" src = "static/images/accessories.svg">
                </div>

            <!--- SEPERATING SECTIONS  -->

                <div class = "container footwear">
            {% if result["Temperature"]>25 %}
                    <h1>Footwear</h1>
                    <h4>{{hotFootwear[randomInt]}}</h4>
                    {% for style in bootsIcon %}
                        {% if hotFootwear[randomInt] == style %}
                            <img class = "boots" src = "static/images/boots.svg">
                        {% endif %}
                    {% endfor %}
                    {% for style in sandalsIcon %}
                        {% if hotFootwear[randomInt] == style %}
                            <img class = "sandals" src = "static/images/sandals.svg">
                        {% endif %}
                    {% endfor %}
                    {% for style in joggersIcon %}
                        {% if hotFootwear[randomInt] == style %}
                            <img class = "joggers" src = "static/images/joggers.svg">
                        {% endif %}
                    {% endfor %}
                    {% for style in miscShoes %}
                        {% if hotFootwear[randomInt] == style %}
                            <img class = "miscellaneous-shoes" src = "static/images/miscShoes.svg">
                        {% endif %}
                    {% endfor %}
                </div>
            {% elif result["Temperature"] > 10 and result["Temperature"] < 25 %}
                <div class = "container footwear">
                    <h1>Footwear</h1>
                    <h4>{{mildFootwear[randomInt]}}</h4>
                    {% for style in bootsIcon %}
                        {% if mildFootwear[randomInt] == style %}
                            <img class = "boots" src = "static/images/boots.svg">
                        {% endif %}
                    {% endfor %}
                    {% for style in sandalsIcon %}
                        {% if mildFootwear[randomInt] == style %}
                            <img class = "sandals" src = "static/images/sandals.svg">
                        {% endif %}
                    {% endfor %}
                    {% for style in joggersIcon %}
                        {% if mildFootwear[randomInt] == style %}
                            <img class = "joggers" src = "static/images/joggers.svg">
                        {% endif %}
                    {% endfor %}
                    {% for style in miscShoes %}
                        {% if mildFootwear[randomInt] == style %}
                            <img class = "miscellaneous-shoes" src = "static/images/miscShoes.svg">
                        {% endif %}
                    {% endfor %}
                </div>
            {% elif result["Temperature"] < 10 %}
                <div class = "container footwear">
                    <h1>Footwear</h1>
                    <h4>{{coldFootwear[randomInt]}}</h4>
                    {% for style in bootsIcon %}
                        {% if coldFootwear[randomInt] == style %}
                            <img class = "boots" src = "static/images/boots.svg">
                        {% endif %}
                    {% endfor %}
                    {% for style in sandalsIcon %}
                        {% if coldFootwear[randomInt] == style %}
                            <img class = "sandals" src = "static/images/sandals.svg">
                        {% endif %}
                    {% endfor %}
                    {% for style in joggersIcon %}
                        {% if coldFootwear[randomInt] == style %}
                            <img class = "joggers" src = "static/images/joggers.svg">
                        {% endif %}
                    {% endfor %}
                    {% for style in miscShoes %}
                        {% if coldFootwear[randomInt] == style %}
                            <img class = "miscellaneous-shoes" src = "static/images/miscShoes.svg">
                        {% endif %}
                    {% endfor %}
            {% endif %}
            
                </div>
    </div>
</body>