<!DOCTYPE html>
<head>
    <title>Outfits</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class = "row">
        <h1 class = "col-md-12 text-center">Today's Weather</h1>
    </div>  
    <div class = "row">
        <h1 class = "col-md-6 text-center">{{city}}</h1>
        <h2 class = "col-md-6 text-center">{{result["Date"]}}</h2>
    </div>
    <div class = "row">
        <h2 class = "col-md-6 text-center">{{result["Temperature"]}}˚C</h2>
        <h3 class = "col-md-6 text-center">{{result["Wind Speed"]}} km/h</h3>
    </div>
    <div class = "row">
        <h3 class = "col-md-6 text-center">{{result["Weather"]}}</h3>
        <h3 class = "col-md-6 text-center">{{result["Weather Details"]}}</h3>
    </div>
    <div class = "row">
        <h1 class = "col-md-12 text-center">My Outfit</h1>
    </div>
    </br>
    </br>
    <div class = "outfit">
            {% if result["Temperature"]>25 %}
                <div class = "container top">
                    <h1>Top</h1>
                    <h4>{{hotTop[randomInt]}}</h4>
                </div>
            {% elif result["Temperature"] > 10 and result["Temperature"] < 25 %}
                <div class = "container top">
                    <h1>Top</h1>
                    <h4>{{mildTop[randomInt]}}</h4>
                </div>
            {% elif result["Temperature"] < 10 %}
                <div class = "container top">
                    <h1>Top</h1>
                    <h4>{{coldTop[randomInt]}}</h4>
                </div>
            {% endif %}

            <!--- SEPERATING SECTIONS  -->

            {% if result["Temperature"]>25 %}
                <div class = "container bottoms">
                    <h1>Bottoms</h1>
                    <h4>{{hotBottoms[randomInt]}}</h4>
                </div>
            {% elif result["Temperature"] > 10 and result["Temperature"] < 25 %}
                <div class = "container bottoms">
                    <h1>Bottoms</h1>
                    <h4>{{mildBottoms[randomInt]}}</h4>
                </div>
            {% elif result["Temperature"] < 10 %}
                <div class = "container bottoms">
                    <h1>Bottoms</h1>
                    <h4>{{coldBottoms[randomInt]}}</h4>
                </div>
            {% endif %}

            <!--- SEPERATING SECTIONS  -->

            {% if result["Temperature"]>25 %}
                <div class = "container accessories">
                    <h1>Accessories</h1>
                    <h4>{{hotAccessories[randomInt]}}</h4>
                </div>
            {% elif result["Temperature"] > 10 and result["Temperature"] < 25 %}
                <div class = "container accessories">
                    <h1>Accessories</h1>
                    <h4>{{mildAccessories[randomInt]}}</h4>
                </div>
            {% elif result["Temperature"] < 10 %}
                <div class = "container accessories">
                    <h1>Accessories</h1>
                    <h4>{{coldAccessories[randomInt]}}</h4>
                </div>
            {% endif %}

            <!--- SEPERATING SECTIONS  -->

            {% if result["Temperature"]>25 %}
                <div class = "container footwear">
                    <h1>Footwear</h1>
                    <h4>{{hotFootwear[randomInt]}}</h4>
                </div>
            {% elif result["Temperature"] > 10 and result["Temperature"] < 25 %}
                <div class = "container footwear">
                    <h1>Footwear</h1>
                    <h4>{{mildFootwear[randomInt]}}</h4>
                </div>
            {% elif result["Temperature"] < 10 %}
                <div class = "container footwear">
                    <h1>Footwear</h1>
                    <h4>{{coldFootwear[randomInt]}}</h4>
                </div>
            {% endif %}

                <div class = "container footwear">

                </div>

    </div>
</body>