<!DOCTYPE html>
<head>
    <title>Outfits</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class = "row">
        <h1 class = "col-md-12 text-center">Today's Weather</h1>
    </div>  
    <div class = "row">
        <h1 class = "col-md-6 text-center">{{city}}</h1>
        <h2 class = "col-md-6 text-center">{{result["Date"]}}</h2>
    </div>
    <div class = "row">
        <h2 class = "col-md-6 text-center">{{result["Temperature"]}}˚C</h2>
        <h3 class = "col-md-6 text-center">{{result["Wind Speed"]}} km/h</h3>
    </div>
    <div class = "row">
        <h3 class = "col-md-6 text-center">{{result["Weather"]}}</h3>
        <h3 class = "col-md-6 text-center">{{result["Weather Details"]}}</h3>
    </div>
    <div class = "row">
        <h1 class = "col-md-12 text-center">My Outfit</h1>
    </br>
    </br>
    </div>
    <div class = "outfit">
            <div class = "container top">

            </div>

            <div class = "container bottoms">

            </div>

            <div class = "container accessories">

            </div>

            <div class = "container footwear">

            </div>
    </div>
</body>